OPENAI_API_KEY = sk-proj....
base_url="https://api.openai.com/v1"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pt....
LANGSMITH_PROJECT="proj_name"